name: Terraform CI/CD with Github Actions

# Workflow triggers manually via GitHub UI
on: 
 workflow_dispatch:
    inputs:
      action:
        description: 'Choose Terraform action'
        required: true
        default: 'apply'
        type: choice
        options:
          - apply
          - destroy

jobs:
  terraform:
    name: Terraform Apply or Destroy
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      id-token: write
    env:
      AWS_REGION: "eu-north-1"
      TF_WORKING_DIR: terraform/src       

    steps:
      # 1️⃣ Checkout repository
      - name: Checkout code
        uses: actions/checkout@v4

      # 2️⃣ Install Terraform
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "1.3.5"

      # 3️⃣ Configure AWS credentials
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: "${{ secrets.AWS_ACCESS_KEY_ID }}"
          aws-secret-access-key: "${{ secrets.AWS_SECRET_ACCESS_KEY }}"
          aws-region: "${{ env.AWS_REGION }}"      
      - name: Terraform Init
        
        run: terraform -chdir=terraform/src init     
      - name: Terraform fmt
        id: fmt
        run: terraform fmt -check
        continue-on-error: true
      
        # 5️⃣ Validate Terraform code
      - name: Terraform Validate
        run: terraform validate -no-color

      # 6️⃣ Terraform Plan (only for apply)
      - name: Terraform Plan
        if: github.event.inputs.action == 'apply'
        run: terraform -chdir=terraform/src  plan -input=false -out=tfplan

      # 7️⃣ Terraform Apply (only for apply)
      - name: Terraform Apply
        if: github.event_name == 'workflow_dispatch' && github.event.inputs.action == 'apply'
        run: terraform -chdir=terraform/src apply -auto-approve  tfplan

      # 8️⃣ Terraform Destroy (only for destroy)
      - name: Terraform Destroy
        if: github.event.inputs.action == 'destroy'
        # working-directory: terraform/src
        run: terraform destroy -auto-approve
